# ignore any vim files:
node_modules
npm-debug
.git/
.vscode
.idea/*
output/*
*/public/app/dest/*
*/public/app/dest
config/web.config.test.js
!output/usemin.html
*.css.map
*.js.map

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

output

*.zip
*.tar