body,
ul,
p,
ol {
  margin: 0;
  padding: 0;
}
.container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.container .header .banner {
  display: inline-block;
  float: left;
  line-height: 40px;
  text-align: center;
}
.container .header .log {
  position: relative;
  width: 40px;
  height: 40px;
  background: url('../../img/fe.jpg');
  background-size: contain;
}
.container .header .fast {
  position: relative;
  left: 50%;
  margin-left: -176px;
}
.container .header .fast li {
  display: block;
  float: left;
}
.container .header .fast li a {
  padding: 0 24px;
  border-right: solid 1px #eee;
  text-decoration: none;
  color: #eee;
  outline: none;
}
.container .header .fast li a.active {
  color: #c2431c;
}
.container .header .fast li a.last {
  border: none;
}
.container .content {
  width: 100%;
  height: 100%;
}
.container .content .page li {
  list-style-type: none;
}
.container .content .page .msg {
  margin: 60px;
}
.container .content .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.6);
}
.container .content .footer .msg {
  padding: 9px 0 0 20%;
}
.none {
  display: none;
}
