<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人简介</title>
    <link rel="shortcut icon" href="../public/img/cxf.ico" type="image/x-icon" />
  
    <link rel="stylesheet" href="../public/lib/sweetalert.css">
    <link rel="stylesheet" href="../public/dest/css/cxf.css">
</head>
<body>
    <div class="container"> 
        <div class="header">
            <div class="banner log"></div>
            <ul class="banner fast">
                <li><a href="../../index.html">首页</a></li>
                <li><a class="active" href="javascript:;">关于我</a></li>
                <li><a class="J_unOpen" href="javascript:;">技能</a></li>
                <li><a class="J_unOpen" href="javascript:;">作品</a></li>
                <li><a class="J_unOpen last" href="javascript:;">联系我</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="J_wel welcome none">
                <p class="hello">HELLO !</p>
                <p class="wel">Welcome to my website.</p>
                <p class="me">I am a FE Developer</p>
            </div>
            
            <div class="footer">
                <div class="msg">
                    <p>Emails: 19951130049@163.com</p>
                    <p>Address: 江苏省苏州市工业园区裕新路菁英公寓</p>
                </div>
            </div>
        </div>
    </div>  

    <script src="../public/lib/jquery.min.js"></script>
    <script src="../public/lib/sweetalert.js"></script>
    <script src="../public/dest/js/cxf.js"></script>
</body>
</html>